body {
  font-size: 18px;
  font-family: Gill Sans, sans-serif;
  /* background-color: #F9DB79; */
  margin: 0;
}

h1 {
  /* font-weight:lighter; */
  font-size:80px;
  color: #333;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0;
}

table {
  width: 100%;
  border-radius: 1rem;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  padding: 10px;
}

td {
  padding: 5px;
}

tr {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

tr:last-child {
  border-bottom: none;
}

p {
  margin: 5px;
}

a {
  text-decoration: none;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #F9DB79;
}

.top-navbar-left {
  justify-content: flex-start;
}

.top-navbar a {
  margin: 0px 5px;
  color: black;
}

.top-navbar a:hover {
  color: white;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sched-container {
  display: flex;
  width: 80%;
  min-width: 950px;
  margin: 30px;
  /* padding: 15px; */
  /* border: 1px solid black; */
}

.table-container {
  border-radius: .5rem;
  border: 1px solid #ccc;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  /* background-color: #eee; */
  padding: 15px;
  width: 20%;
  min-width: 250px;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.large-box {
  width: 70%;
}

.sched-meals p {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  /* background-color: rgb(255,31,90,0.4); */
  background-color: rgb(255, 143, 86, 0.5);
  color: #444;
  margin: 10px;
  padding: 10px 5px;
  border: 1px solid #aaa;
}

.sched-meals p:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
